<div class="center">
    <div class="form-group">
        <select (change)="changeCity($event)" id="city-select" class="form-control">
            <option value="{{ locationsMappings['Rochester'] }}">Rochester</option>
            <option value="{{ locationsMappings['Somerville'] }}">Somerville</option>
            <option value="{{ locationsMappings['Seattle'] }}">Seattle</option>
            <option value="{{ locationsMappings['San Jose'] }}">San Jose</option>
            <option value="{{ locationsMappings['Miami'] }}">Miami</option>
        </select>
    </div>
</div>
<app-weather-day *ngFor="let weather of weathers" [weather]="weather">
</app-weather-day>