<div class="card">
    <div class="card-body">
        <div class="card-title center"><b>{{weather.date}}</b></div>
        <h6 class="card-subtitle mb-2 text-muted center">{{ weather.city }}</h6>
        <hr>
        <div class="row">
            <div class="col-3 center">
                <p>
                    Light rain
                </p>
            </div>
            <div class="col-3 center">
                <p>
                    High: {{ weather.high }}°F
                    <br>
                    Low: {{ weather.low }}°F
                </p>
            </div>
            <div class="col-3 center">
                <p>
                    Wind Speed: {{ weather.windSpeed }} mph
                </p>
            </div>
            <div class="col-3 center">
                <p>
                    Humidity: {{ weather.humidity }}%
                </p>
            </div>
        </div>
    </div>
</div>