<div class="card">
    <div class="card-body">
        <div class="card-title center"><b>{{weather.Date}}</b></div>
        <hr>
        <div class="row">
            <div class="col-4 center">
                <div>
                    <p>Day:
                        <img src="assets/images/{{weather.Day.Icon}}.png">
                        {{ weather.Day.IconPhrase }}
                    </p>
                    <p>
                        <span *ngIf="weather.Day.HasPrecipitation; else no_precipitation">
                            Precipitation expected!
                        </span>
                        <ng-template #no_precipitation>
                            No precipitation expected today.
                        </ng-template>
                        <br>
                        <span *ngIf=weather.Day.HasPrecipitation>
                            Precipitation Intensity: {{ weather.Day.PrecipitationIntensity }}
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-4 center">
                <p>
                    High: {{ weather.Temperature.Maximum.Value }}°{{weather.Temperature.Maximum.Unit}}
                    <br>
                    Low: {{ weather.Temperature.Minimum.Value }}°{{weather.Temperature.Minimum.Unit}}
                </p>
            </div>
            <div class="col-4 center">
                <div>
                    <p>Night:
                        <img src="assets/images/{{weather.Night.Icon}}.png">
                        {{ weather.Night.IconPhrase }}
                    </p>
                    <p>
                        <span *ngIf="weather.Night.HasPrecipitation; else no_precipitation_night">
                            Precipitation expected!
                        </span>
                        <ng-template #no_precipitation_night>
                            No precipitation expected tonight.
                        </ng-template>
                        <br>
                        <span *ngIf=weather.Night.HasPrecipitation>
                            Precipitation Intensity: {{ weather.Night.PrecipitationIntensity }}
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>